AMIR/.obsidian/workspace
AMIR/.obsidian/cache
AMIR/.trash/
AMIR/.DS_Store
AMIR/.obsidian/workspace
AMIR/.obsidian/workspace.json
AMIR/.obsidian/community-plugins.json
AMIR/.obsidian/workspace.json
*.json